<ng-container>
    <header cHeader class="header-container custom-header">
    <div class="header-content">
            <nav class="header-nav main-nav">
        <div class="nav-item">
          <a class="nav-link" routerLink="/prof/dashboard" routerLinkActive="active">
            <i class="bi bi-speedometer2"></i>
            Dashboard
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/prof/messages/prof" routerLinkActive="active">
            <i class="bi bi-chat-dots"></i>
            Messages
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/prof/notes/attribue" routerLinkActive="active">
            <i class="bi bi-pencil-square"></i>
            Saisir Note
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/prof/absences/listePresence" routerLinkActive="active">
            <i class="bi bi-person-x"></i>
            Absences
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="bi bi-gear"></i>
            Settings
          </a>
        </div>
      </nav>

    </div>
</header>
</ng-container>
