<ng-container>
    <header cHeader class="header-container custom-header">
    <div class="header-content">
            <nav class="header-nav main-nav">
                 <div class="nav-item">
          <a class="nav-link" routerLink="/eleve/dashboard" routerLinkActive="active">
            <i class="bi bi-people"></i>
           Dashboard
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/eleve/messages/eleve" routerLinkActive="active">
            <i class="bi bi-chat-dots"></i>
           Message
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/eleve/absences/seleve" routerLinkActive="active">
                <i class="bi bi-calendar-x"></i>
            Suivres Abscence
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/eleve/notes/eleve" routerLinkActive="active">
                            <i class="bi bi-journal-text"></i>

            Note
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="bi bi-gear"></i>
          Bulletin
          </a>
        </div>
      </nav>

    <nav class="header-nav icon-nav">
  <a class="nav-link" href="/eleve/notifications">
    <i class="bi bi-bell"></i>
  </a>
</nav>


    </div>


</header>
</ng-container>
