
<ng-container>
    <header cHeader class="header-container custom-header">
    <div class="header-content">
            <nav class="header-nav main-nav">

       <div class="nav-item">
  <a class="nav-link" routerLink="/parent/convocations" routerLinkActive="active">
    <i class="bi bi-megaphone"></i>
    Convocations
  </a>
</div>

<div class="nav-item">
  <a class="nav-link" routerLink="/parent/messages/parent" routerLinkActive="active">
    <i class="bi bi-chat-dots"></i>
    Messages
  </a>
</div>

<div class="nav-item">
  <a class="nav-link" routerLink="/parent/absences/sparent" routerLinkActive="active">
    <i class="bi bi-calendar-x"></i>
    Absences
  </a>
</div>

<div class="nav-item">
  <a class="nav-link" routerLink="/parent/notes/parent" routerLinkActive="active">
    <i class="bi bi-journal-check"></i>
    Notes
  </a>
</div>

<div class="nav-item">
  <a class="nav-link" routerLink="/settings" routerLinkActive="active">
    <i class="bi bi-gear"></i>
    Paramètres
  </a>
</div>
   </nav>
       <nav class="header-nav icon-nav">
  <a class="nav-link" href="/parent/notifications">
    <i class="bi bi-bell"></i>
  </a>
</nav>
</div>
</header>
</ng-container>
